<!DOCTYPE html>
<html>
   {% include head.html %}
  <body id = "top" class = "white">
      <h4>{{page.title}}</h4>
      {% for calendar in page.calendars %}
       &src={{calendar}}
       {{site.data.calendars[calendar]}}
      {% endfor %}
      <div class = "ratio ratio-1x1">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FLondon&bgcolor=%23ffffff&title={{page.title}}&showPrint=0&showTz=0&hl=en_GB&src=Y184Y2RkZjZkN2Y5MjhjMDAxYTYxMGMzZmRlYzJhODA1NzkwNzlkNGU1ZDVlZWU4ZThkYmM1ZTA0ZDY3YWU5ZjI0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y184NjM1ZDJhMDdjN2M5YjQ2M2E0MThkNDYyNjkyOWJiZTUwZmI3ZTgyZTQ2YTY2YTEyYWU4YWYzMmI4ODIzNTU3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y182OWQ5MmEyOGU1Y2ZhMTk4M2I5NjhkOGI1ZmNmNzRjMWIxNjY5ZTgzYmFhZWE1NGY1OGY3M2RlMDhkM2JlYzgzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23AD1457&color=%237986CB&color=%23F09300" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
  </body>
</html>
