<!DOCTYPE html>
<html>
   {% include head.html %}
  <body id = "top" class = "white">
      <h4>{{page.title}}</h4>
      {{content}}
      {%- capture calendar_url -%}
https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FLondon&bgcolor=%23ffffff&showTitle=0&showPrint=0&showTz=0&hl=en_GB
         {%- for calendar in page.calendars -%}
&src={{site.data.calendars[calendar].id}}
&color=%23{{site.data.calendars[calendar].colour}}
         {%- endfor -%}
      {%- endcapture -%}
      <div class = "ratio ratio-1x1">
        <iframe src="{{- calendar_url -}}" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
  </body>
</html>
